MCP_BEARER_TOKEN=change-me

FRAPPE_BASE_URL=https://your-frappe-site.example.com
FRAPPE_AUTHORIZATION=token api_key:api_secret

WA_DEFAULT_TEMPLATE=vobiz_dg
WA_DEFAULT_LANGUAGE=en
WA_DEFAULT_CHANNEL_ACCOUNT=Interakt SRIAAS Male
WA_TEMPLATE_VARIABLE_COUNT=1

MCP_DB_PATH=data/handshake_mcp.sqlite3
MCP_IDEMPOTENCY_TTL_SECONDS=86400
MCP_CIRCUIT_BREAKER_SECONDS=60
MCP_MAX_FRAPPE_CALLS_PER_CALL=10
MCP_MAX_WHATSAPP_SENDS_PER_CALL=1
MCP_MAX_LEAD_WRITES_PER_CALL=1
MCP_MAX_APPOINTMENT_WRITES_PER_CALL=1

FRAPPE_LEAD_DOCTYPE=Lead
FRAPPE_LEAD_PHONE_FIELD=mobile_no
FRAPPE_APPOINTMENT_DOCTYPE=Patient Appointment

